
RoomDescriptor(
    enemies: [
        "config/basic_enemy.enemy.ron",
        "config/basic_enemy2.enemy.ron"
    ],
    walls: [  
        WallHitBox (position: (-2.0, -12.0), size: (1.0, 7.0)),
        WallHitBox (position: (4.0, -12.0), size: (1.0, 7.0)),
        WallHitBox (position: (-1.0, -13.0), size: (5.0, 1.0)),
    ]
)